@media (max-width: 770px) {
  .checkbox {
    margin-right: 5px;
    margin-left: 1px;
    font-size: 12px;
  }

  .price {
    font-size: 12px;
  }
}

.checkbox {
  margin-right: 8px;
}

.collapse {
  background: lightgray;
}
